* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 5rem;

  background-color: #dfdfdf;
}

h1,
h2 {
  color: #333333;
  margin-top: 0;
}
